@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hero {
  background-image: url(".././src/assets/leaves.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: rgb(255, 255, 255);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
  gap: 20px;
}

@media only screen and (max-width: 1100px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product-card {
  color: #333;
  border-radius: 5px;
  padding: 20px 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #447761;
}

.product-card p {
  font-size: 12px;
  font-weight: 800;
}

.product-card h3 {
  font-size: 18px;
}

.buy-button {
  padding-top: 10px;
}

.wrapper {
  height: 450px;
  width: 700px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 450px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
  height: inherit;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

/* .product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
} */

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  /*font-family: 'Raleway', sans-serif; */
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  /*   font-family: 'Playfair Display', serif; */
  color: #666565;
  line-height: 1.7em;
  font-size: 15px;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.product-price-btn p {
  /* font-family: 'Trocchi', serif; */
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.price {
  font-family: "Suranna", serif;
  font-weight: bolder;
}

.buy-button2 {
  padding: 5px;
}
/*  
.product-price-btn button {

  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
} */

.cart-amount{
  margin-bottom: -15px;
  margin-left: -25px;
}
.detailcontainer {
  height: 100vh;
}

.search input {
  color: #447761;
  border: 1px solid;
  border-radius: 5px;
}
