@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

 .App {
  /*
  text-align: center;
    */
  background-color: #ffffff;
  min-height: 100vh;
 
  font-family: "Inter", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-image: url(".././src/assets/leaves.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: rgb(255, 255, 255);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  text-align: center;
}

.accountPageBanner {
  background-image: url(".././src/assets/leaves.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
  gap: 20px;
}

@media only screen and (max-width: 1100px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.product-card {
  color: #333;
  border-radius: 5px;
  padding: 20px 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #447761;
  text-align: center;
}

.product-card p {
  font-size: 12px;
  font-weight: 800;
}

.product-card h3 {
  font-size: 18px;
}

.buy-button {
  padding-top: 10px;
}

.wrapper {
  height: 550px;
  width: 800px;
  margin: 70px auto;
  border-radius: 7px 7px 7px 7px;
  display: flex ;
  justify-content: space-around ;
  align-items: center;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
/*   float: left; */
  height: 450px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
  height: inherit;
}

.product-info {
 /*  float: left;
  height: 420px;
  width: 327px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
/*   height: 300px;
  width: 327px; */
}

.product-text h1 {
 /*  margin: 0 0 0 38px; 
  padding-top: 52px;
  */
text-align: center;
  font-size: 34px;
  color: #474747;
}


.product-text h2 {
/*   margin: 0 0 47px 38px; */
  font-size: 13px;
  padding-bottom: 1em;
  text-align: center;
  /*font-family: 'Raleway', sans-serif; */
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  /* letter-spacing: 0.2em; */
}

.product-text p {
/*   height: 125px;
  margin: 0 0 0 38px; */
  color: #666565;
/*   line-height: 1.7em; */
  font-size: 15px;
  overflow: hidden;
}

.product-price-btn {
/*   height: 103px;
  width: 327px;
  margin-top: 17px; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.product-price-btn p {
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.price {
  font-family: "Suranna", serif;
  font-weight: bolder;
}

.cart-amount {
  margin-bottom: -15px;
  margin-left: -25px;
}
.detailcontainer {
  height: 100vh;
}

.search-container {
  padding: 20px 50px;
}
.search-input {
  width: 300px;
  padding: 10px 20px;
  color: #447761;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
}

.search-button {
  position: relative;
  top: 10px;
  right: 50px;
  color: #666565;
}

.bt-group {
  padding: 10px;
}

.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.checkout-page h1 {
  margin-top: 50px;
  font-size: 20px;
}
